<header>
   <div class="navbar-fixed">
    <nav>
      <div class="container">
        <div class="nav-wrapper">
            <a href="{{ site.baseurl | prepend: site.url }}/" class="brand-logo">{{ site.title }}</a>

            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
              {% assign navigation_pages = site.pages | sort: 'navigationWeight' %}

              {% for p in navigation_pages %}
                {% if p.navigationWeight %}
                  {% unless p.url contains site.paginate_baseurl %}
                    <li {% if p.url == page.url %}class="active"{% endif %}>
                      <a href="{{ p.url }}" {% if p.url == page.url %}class="active"{% endif %}>
                        <!-- <span class="octicon octicon-clippy"></span> -->
                        <!-- <i class="material-icons left">search</i> -->
                        {{ p.title }}</a>
                    </li>
                  {% endunless %}
                {% endif %}
              {% endfor %}
            </ul>

            <ul class="side-nav" id="nav-mobile">
              <div class="collection">
              {% assign navigation_pages = site.html_pages | sort: 'navigationWeight' %}

              {% for p in navigation_pages %}
                {% if p.navigationWeight > 0 %}
                  {% unless p.url contains site.paginate_baseurl %}
                    <a href="{{ p.url }}" class="collection-item {% if p.url == page.url %} active {% endif %}" >{{ p.title }}</a>
                  {% endunless %}
                {% endif %}
              {% endfor %}

            </div>
            </ul>
        </div>
      </div>
    </nav>
    </div>
</header>
