<header>
   <div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="{{ site.baseurl | prepend: site.url }}/" class="brand-logo">{{ site.title }}</a>

            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              {% assign navigation_pages = site.pages | sort: 'navigationWeight' %}

              {% for p in navigation_pages %}
                {% if p.navigationWeight > 0 %}
                  <li>
                    <a href="{{ p.url }}" {% if p.url == page.url %}class="active"{% endif %}><i class="material-icons left">search</i>{{ p.title }}</a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>

            <ul class="side-nav" id="mobile-demo">
              <li><a href="sass.html">Sass</a></li>
              <li><a href="badges.html">Components</a></li>
              <li><a href="collapsible.html">Javascript</a></li>
              <li><a href="mobile.html">Mobile</a></li>
            </ul>
        </div>
    </nav>
    </div>
</header>
