// Add your own custom CSS here.
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/material-design-icons/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../fonts/material-design-icons/MaterialIcons-Regular.woff2) format('woff2'),
       url(../fonts/material-design-icons/MaterialIcons-Regular.woff) format('woff'),
       url(../fonts/material-design-icons/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

// $roboto-font-path: "../fonts/roboto/";


a {
	color: #ff9800; // orange-text
}

body {
	font-size: 1em;
	line-height: 1.6;
	font-weight: 300;
	text-rendering: optimizeLegibility;
	color: #585858;

  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
    flex: 1 0 auto;
}


// html, body, .block {
//     height: 100%;
// }
.toc-wrapper {
    position: relative;
    margin-top: 42px;
    right:100px
}

.toc-wrapper.pin-top {
    position: relative;
    margin-top: 84px;
    right:100px
}
.toc-wrapper.pinned {
    position: relative;
    margin-top: 84px;
    right:100px
}
.toc-wrapper.pin-bottom {
    position: relative;
    margin-top: 84px;
    right:100px
}


// category-slice {
//   margin-top: calc(#{$collection-line-height / 2} - #{$badge-height / 2});
// }



p {
	@include font-size($p-font-sizes);
}

h1 {
  @include font-size($h1-font-sizes);
}

h2 {
	@include font-size($h2-font-sizes)
}

h3 {
	@include font-size($h3-font-sizes)
}

// blockquote {
// 	margin: 20px 0;
// 	padding-left: 1.5rem;
// 	border-left: 5px solid #666;
// 	font-style: italic;
// 	font-weight: 300;
// 	color: #666;
// }
//
// .dropdown-content {
// 	min-width: 200px;
// }
//
//
// .book-list {
//     margin: 20px auto;
//
//     h1 {
//         margin-top: 0;
//         //font-size: 2.2em;
//     }
//
//     p {
//         text-align: justify;
//     }
// }
//
// .scrollToTop {
//     position: fixed;
//     top: 100px;
//     right: 40px;
//     display: none;
//
//     i {
//     font-size: 50px;
//     }
// }
//
//
//
// .title {
//     // text-transform: uppercase;
//     font-weight: 600;
//     margin-bottom: 5px;
// 	  font-size: 1.2em;
// }
// .sub-title {
//
// }
//
// .space {
//     display: block;
//     position: relative;
//     clear: both;
//     margin: 50px auto;
// }
//
// .home-post {
//
//     h1 {
//         //font-size: 2.2em;
//     }
// }
//
// .collection {
//     h1 {
//         //font-size: 2.2em;
//     }
// }
//
// .entry-container {
//     padding: 35px;
// }
//
// h1.entry-title {
// 	margin-bottom: 5px;
// }

// .entry-meta {
// 	font-size: 100%;
// 	color: #666;
//
// 	li {
// 		display: inline;
// 		margin-right: 10px;
//
// 		@media #{$medium-and-down} {
// 			display: table;
// 		}
// 	}
// }

// .card-content {
//
// 	img {
// 			max-width: 100%;
// 			height: auto;
// 			margin-top: 15px;
// 			margin-bottom: 10px;
// 	}
// 	 p {
// 		 margin: 0 auto 10px!important;
// 		 text-align: justify;
// 	 }
// }
//
// .date {
// 	text-transform: uppercase;
// }
// .prev-next {
// 	li {
// 		display: inline;
// 	}
// }
// .about-text {
//     text-align: justify;
// }
// .about {
//
// 	@media #{$medium-and-down} {
//
// 		h1 {
// 			text-align: center;
// 		}
//
// 		img {
// 			display: block;
// 	    	margin-left: auto;
// 	    	margin-right: auto;
//
// 			margin-bottom: 10px;
//
// 		}
//
//   	}
// }
// .social {
// 	a {
// 		margin-left: 10px;
// 	}
// }
