<!DOCTYPE html>
<html>

{% include head.html %}

<body>

{% include header.html %}

<div class="main">
  <div class="row">
  	<div class="col s12">
        <div class="container">
          {{ content }}
        </div>
    <!-- <a href="javascript:void(0);" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
    <div class="page-scrollTop" data-toggle="tooltip" data-placement="top" title="Top">
        <a href="javascript:void(0);">
            <div class="arrow"></div>
            <div class="stick"></div>
        </a>
    </div> -->
    </div>
  </div>
</div>

{% include footer.html %}
</body>
</html>
