<!DOCTYPE html>
<html>

{% include head.html %}

<body>

{% include header.html %}

<main>
	<div class="container">
	<div class="row">
		 <div class="col s12 m9 l10">
				<article class="entry">
					 <div class="card">
						 <div class="card-image">
							 {% if page.image.feature %}
							 <img src="{{ site.url }}/assets/images/{{ page.image.feature }}" class="entry-feature-image" alt="{{ page.title }}"> {% else %}

							 {% endif %}
						 </div>
						 <div class="card-content">
							 <ul class="entry-meta center">
								 <li>
									 <span class="posted-on">
										 <i class="mdi-action-schedule"></i>
										 {% if page.modified %}
										 <time datetime="{{ page.modified }}"><i class="icon-pencil"></i> {{ page.modified | date: "%B %d, %Y" }}</time>
										 {% else %}
										 <time datetime="{{ page.date }}">{{ page.date | date_to_string }}</time>
										 {% endif %}
									 </span>

								 </li>
								 <li>
									 <span class="cat-links">
										 <i class="mdi-file-folder-open"></i>
										 Section: <span class="entry-tags">{% for tag in page.tags %}
										 <a href="{{ site.url }}/tags/#{{ tag | cgi_encode }}" title="Pages tagged {{ tag }}">{{ tag }}</a>{% unless forloop.last %}&nbsp;&bull;&nbsp;{% endunless %}{% endfor %}
										 </span></span>
								 </li>
								 <li>
									 {% if site.disqus_shortname and page.comments %}
									 <span class="entry-comments"><i class="mdi-action-question-answer"></i> <a href="#disqus_thread">Comment</a></span>{% endif %}
								 </li>
								 <li>
									 <span class="estimated-read"><i class="mdi-action-alarm"></i>{% include read_time.html %}</span>
								 </li>
							 </ul>
							 {{ content }}
						 </div>
						 <div class="card-action">
							 {% include social.html %}
						 </div>
					 </div>
				 </article>


			 <section class="center">
				 <div class="row">
					 {% if page.previous %}
					 <div class="col s6">
						 <a href="{{ site.url }}{{ page.previous.url }}" class="btn-floating btn-large waves-effect waves-light blue-grey darken-2"><i class="mdi-hardware-keyboard-arrow-left"></i></a>
					 </div>
					 {% endif %}
					 {% if page.next %}
					 <div class="col s6">
						 <a href="{{ site.url }}{{ page.next.url }}" class="btn-floating btn-large waves-effect waves-light blue-grey darken-2"><i class="mdi-hardware-keyboard-arrow-right"></i></a>
					 </div>
					 {% endif %}
				 </div>
			 </section>

			 <section class="related">
				 <div class="row">
					 <div class="col s12 m12">
						 <div class="card-panel">
							 {% include related.html %}
						 </div>
					 </div>
				 </div>
			 </section>

			 <div class="space"></div>
			 <div class="divider"></div>

			 <section class="disqus">
				 <div class="row">
					 <div class="col s12 m12">
						 <div class="card-panel">
							 {% if site.disqus_shortname and page.comments %}<div id="disqus_thread"></div><!-- /#disqus_thread -->{% endif %}
						 </div>
					 </div>
				 </div>
			 </section>
		</div>


		<div class=="col hide-on-small-only m3 l2">
			<div class="toc-wrapper pin-top" style="top: 0px;">
			<div style="height: 1px;">
					<div id="toc"></div>
			</div>
			</div>
		</div>

	</div>
	</div>
</main>

{% include footer.html %}
<script type="text/javascript" src="{{'/asset/js/toc.js' | prepend:site.baseurl | prepend: site.url  }}"></script>
<script type="text/javascript" src="{{'/asset/js/post.js' | prepend:site.baseurl | prepend: site.url  }}"></script>
</body>
</html>
